<div class="col-12 row ">
    <div class="col-1"></div>
    <div class="col-12 row pt-5 m-auto" style="max-width: 95%">
        <div class="col-12">
            <mat-vertical-stepper #stepper >
                <mat-step [stepControl]="requirementDetails">
                    <form [formGroup]="requirementDetails">
                        <ng-template matStepLabel>Fill out your request details</ng-template>
                        <mat-form-field>
                            <mat-label>Type</mat-label>
                            <mat-select placeholder="select" formControlName="type" required>
                                <mat-option selected value="food">Food</mat-option>
                                <mat-option selected value="clothes">Clothes</mat-option>
                                <mat-option selected value="other">Others</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="m-3">
                            <mat-label>Sub Type</mat-label>
                            <input matInput placeholder="Ex. milk" formControlName="subType" required>
                        </mat-form-field>
                        <mat-form-field class="m-3">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="requestDate"
                                placeholder="mm/dd/yyyy format" required (keypress)="restrictAlphabetsAndSlash($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="m-3">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="endDate"
                                placeholder="mm/dd/yyyy format" required (keypress)="restrictAlphabetsAndSlash($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="extra-width">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Ex. I needs 5 ltrs of milk.." formControlName="description"
                                required></textarea>
                        </mat-form-field>
                        <div>
                            <button mat-mini-fab color="accent" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="addressDetails">
                    <form [formGroup]="addressDetails">
                        <ng-template matStepLabel>Fill out your address</ng-template>
                        <div class="form-group col-12 row">
                            <div class="form-group col-12">
                                <label for="description">Do you want to use existing address? </label>
                                <mat-slide-toggle class="ml-5" formControlName="useExistingAddress"
                                    class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <div class="form-group col-12 row" *ngIf="!addressDetails.controls.useExistingAddress.value">
                            <div class="form-group col-6">
                                <mat-form-field class="extra-width-double">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput placeholder="Ex.  Netaji Subhash Marg, Lal Qila..."
                                        formControlName="address" required></textarea>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-3">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput formControlName="city" placeholder="Ex. New Delhi" required>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-3">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <input matInput formControlName="state" placeholder="Ex. New Delhi" required>
                                </mat-form-field>
                            </div>
                        </div>
                            <div class="form-group col-12 row"
                                *ngIf="!addressDetails.controls.useExistingAddress.value">
                                <div class="form-group col-3">
                                    <mat-form-field>
                                        <mat-label>Country</mat-label>
                                        <input matInput formControlName="country" placeholder="Ex. India" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-3">
                                    <mat-form-field>
                                        <mat-label>Pincode</mat-label>
                                        <input matInput formControlName="pinCode" placeholder="Ex. 110006" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-3">
                                    <mat-form-field>
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput formControlName="phone" placeholder="Ex. 9384332223" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-3">
                                    <mat-form-field>
                                        <mat-label>Email Id</mat-label>
                                        <input matInput formControlName="email" placeholder="Ex. a.b@c" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab color="accent" matStepperPrevious>Back</button>
                                <button mat-fab color="accent" matStepperNext>Next</button>
                            </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-mini-fab color="accent" matStepperPrevious>Back</button>
                        <button mat-fab color="accent" (click)="stepper.reset()">Reset</button>
                        <button mat-fab color="accent" (click)="onSubmit()">Submit</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>

        </div>
    </div>
    <div class="col-2"></div>
</div>