
  <div class="modal-header bg-dark text-white ">
    <h5 class="modal-title">Donation Form</h5>
       <i  class="close" style="cursor: pointer;" (click)="dialogRef.close()"  >&times;</i>
    </div>
    <div class="modal-body">
      <form [formGroup]="donateForm">
        <mat-form-field >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. abc" formControlName="name" required>
      </mat-form-field>
          <mat-form-field >
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="Ex. 5" formControlName="quantity" required>
        </mat-form-field>
      <mat-form-field >
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Ex. 9876543210" formControlName="phone" required>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. abc@abc.com" formControlName="email" required>
  </mat-form-field>
      </form>
      </div>
      <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-danger" (click)="updateQuantity()">Donate</button>
  </div>